{% extends 'base.html' %}

{% block title %}Edit Service{% endblock %}

{% block content %}
<h1>Edit Service: {{ service.name }}</h1>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <label for="name">Service Name:</label>
    {{ form.name(value=service.name) }}
    
    <label for="tagline">Tagline:</label>
    {{ form.tagline(value=service.tagline) }}
    
    <label for="description">Description:</label>
    {{ form.description(value=service.description) }}
    
    <label for="category">Category:</label>
    {{ form.category(value=service.category.id) }}
    
    <label for="image">Upload Image:</label>
    {{ form.image }}
    
    <button type="submit">Update</button>
</form>
{% endblock %}
